/*------table du jeu------*/
#mesa {
  display: flex;
  flex-wrap: wrap;
  max-width: available; /*permet à la table de jeu d'être responsive*/
  margin-top: 30px;
  margin-bottom: 60px;
  justify-content: center;
}

/*------cartes de jeu------*/

#carte {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  background-image: url("doscarte.png");
  background-size: 130px;
  transition: 0.3s;
  cursor: pointer;
  backface-visibility: hidden; /*on cache le contenu de la carte*/
  transform-style: preserve-3d;
}

#carte__contenu {
  transform: rotateY(-180deg); /*permet le retournement et l'affichage du contenu*/
  backface-visibility: hidden; /*on cache la partie arrière de la carte*/
  border-radius: 5px;
  font-size: 37px;
}

.img-fluid{
  width: 130px;
  height: 130px;
  border-radius: 0.3em;
  /*taille des images en correspondance avec celle de la carte*/
}

/*------pop-up fin niveau/fin jeu------*/

#levelup,
#finJeu {
  display: none; /*permet de ne pas les afficher*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#levelup.visible,
#finJeu.visible{
  display: flex;
}

/*------menu niveaux------*/

#selectionniveau{
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  transform: translateX(250px);
  transition: transform .3s;
}

#selectionniveau.visible{
  transform: translateX(0);
}

#selectionniveau li{
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

/*------animation des cartes------*/

#carte.decouverte {
  transform: rotateY(-180deg);
}

.validees {/*empêche un évènement de la souris avec les cartes trouvées*/
  pointer-events: none;
}

.validees #carte__contenu {
  animation: match 1.3s ease-in-out forwards;
}

@keyframes match { /*permet la disparition des cartes quand validées*/
  from {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 0;
  }
}