.question{ /*Réglage de la couleur de la question, centre au milieu de la page*/
	color: #C40062;
	text-align: center;
}

#BoutonClose{ /*Réglage de la taille du bouton dans le modal*/
	height: 40px;
	width: 100px;
}

#Bouton1,
#Bouton2,
#Bouton3,
#Bouton4{ /*Réglage de la taille et de l'espacement des boutons réponse*/
	width: 250px;
	height: 80px;
	margin:10px;
}

h4{ /*Réglage de la position du score*/
	text-align: center;
}