body{
    font-family: 'Open Sans', sans-serif;
}

#navbarauto{
    margin-left: auto;
}

#cardfilm{
    margin-left: auto;
    margin-right: Auto;
}

#txt_index{
    padding-left: 3%;
    display: flex;
    align-items: center;
}

h1{
    font-weight: 800;
    color: #6c757d;
}

#titre{
    font-weight: 800;
    color: #6c757d;
}

#navbarindex{
    padding-top: 1%;
}

#logonavbar{
    padding-right: 5%;
}

#card{
    background-color: #C5C5C5;
}

#txtcustom{
    color: #e83e8c;
}

.text-custom{
    color:#6c757d
}

.btn-custom{
    background-color: #C5C5C5;
}

#divcontact{
    display: flex;
}

#menu2{
    display: flex;
}